.dish_description {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 50% 50%;
}
.img{
    background-color: cadetblue;
}
#img{
width: 350px;
margin-left: 150px;
}

.des {
color: aqua;
    background-color: greenyellow;
}