.form_container h1{
color: cadetblue;
}
.form_container label{
    text-align: justify;
    font-style: bold;
    color:black;
}
.form_container label:hover{
    color: red;
}
.form_container input:focus{
    background-color: cadetblue;
}