.dashboard{
    display: grid;
    grid-template-rows: auto auto auto;
}
.slider_1{
    width: 100% !important;
    height: 87vh;
    filter: brightness(0.7);
}
.carousel-caption{
    bottom: 17.75rem;
    font-size: 27px;
    color: #fff;
    text-transform: uppercase;
    font-family:'Trebuchet MS';
}