.footer {
    background: #f8901c;
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
}

.copyrights {
    background: #f8901c;
    font-size: 18px;
    text-align: center;
}
.list{
    margin-top: 20px;
}
.list li{
    margin-top: 20px;
    color: #fff;
}
h4 {
    color: #fff;
    text-decoration: underline;
}
.copyright i {
    font-size: 22px;
    margin-top: 10px;
}
p{
    color: #fff;
}